.link-list{
    margin-top: 1em;
}
.title{
    text-align: center;
    margin: 1em 0;
}
.main-projects{
    width: 80%;

    margin: 1.8em auto;
}

.main-projects a{
    color: black;
    text-decoration:none; 
    cursor: pointer;
    margin-top: 2em!important; 
}
.bio-section{
    width: 100%;
    width: 80%;
    margin: 0 auto;
}
.bio-section button{
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center;
}