/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

:root{
    --color: #723e4e;
}

html{
    width: 100%;
    height: 100%;
}
body{
    width:80%;
    margin: 0 auto;
    background-color: #cddef5;
}*/